html, body {
    margin: 0;
}

body {
    font-family: "Lato","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.main {
    background: url("../img/backgroud.png");
    width: 100%;
}

.intro-header {
    color: #a0a0a0;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#filters {
    margin: 50px;
}

.filter {
    background-color: transparent;
    border: 2px solid;
    border-radius: 30px;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

footer {
    background-color: #ffffff;
    padding-top: 10px;
    width: 100%;
}

input[type="search"] {
    padding-right: 130px;
}