<!DOCTYPE html>
<html ng-app="TakeMeThere" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yelp - Take Me There</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/landing-page.css" rel="stylesheet">
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="static/js/jquery.slim.min.js" defer></script>
    <script src="static/js/bootstrap.min.js" defer></script>
    <script src="static/js/angular.min.js" defer></script>
    <script src="static/js/socket.io.min.js" defer></script>
    <script src="static/js/site.js" defer></script>
</head>
<body>
  <div class="main container" ng-controller="AngularController">
    <div class="intro-header">
        <div class="container">
            <div>
                <div class="intro-message">
                    <h1>Take Me There</h1>
                    <hr class="intro-divider">
                    <form class="navbar-form" role="search">
                        <input ng-model="query" ng-change="search()" type="search" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%block content %}{% endblock %}
</div>
    <footer>
        <div class="col-sm-4">
            <p class="text-muted small">&copy; {{ owner }} {{ now.year }}</p>
        </div>
    </footer>
</body>
</html>